:host {
  color: var(--aotw-color-primary-500);
}

a {
  text-transform: uppercase;

  &:hover {
    color: var(--aotw-color-primary-700);
  }

  &:active {
    color: var(--aotw-color-primary-600);
  }

  &:visited {
    color: var(--aotw-color-primary-500);
  }
}
