<ng-container [formGroup]="form">
  <aotw-ng-form-field>
    <label [for]="createFormControlsEnum.Name">
      <ng-container
        *ngTemplateOutlet="statusIcon; context: { control: nameControl }"
      />
      {{ 'CREATE.STEPS.' + createFormControlsEnum.Name | translate }}
    </label>
    <input
      [formControlName]="createFormControlsEnum.Name"
      [id]="createFormControlsEnum.Name"
    />
  </aotw-ng-form-field>
  <aotw-ng-form-field>
    <label [for]="createFormControlsEnum.MainCategory">
      <ng-container
        *ngTemplateOutlet="statusIcon; context: { control: mainCategoryControl }"
      />
      {{ 'CREATE.STEPS.' + createFormControlsEnum.MainCategory | translate }}
    </label>
    <input
      [formControlName]="createFormControlsEnum.MainCategory"
      [id]="createFormControlsEnum.MainCategory"
    />
  </aotw-ng-form-field>
    <aotw-ng-form-field [formArrayName]="createFormControlsEnum.MainTopics">
      <label [for]="createFormControlsEnum.MainTopics">
        <ng-container
          *ngTemplateOutlet="statusIcon; context: { control: mainTopicsControl }"
        />
        {{ 'CREATE.STEPS.' + createFormControlsEnum.MainTopics | translate }}
      </label>
      @for (topic of topics; track i; let i = $index) {
        <div class="topic">
          <input
            [formControlName]="i"
            [id]="i === 0 ? createFormControlsEnum.MainTopics : undefined"
          />
          @if (i > 1) {
            <button type="button" ghost (click)="removeTopic(i)">
              <aotw-ng-icon name="close" size="medium" />
            </button>
          }
        </div>
      }
    </aotw-ng-form-field>
    <button type="button" secondary (click)="addTopic()">
      <aotw-ng-icon name="add" size="medium" />
      {{ 'COMMON.ADD' | translate }}
    </button>
</ng-container>

<!-- Status icon for validation of the input fields -->
<ng-template #statusIcon let-control="control">
  @if (control?.touched) {
    <div class="status-icon">
      <aotw-ng-icon
        size="medium"
        [name]="control.valid ? 'check' : 'error'"
      />
      <svg viewBox="0 0 24 24" [ngClass]="{ error: !control.valid }">
        <circle cx="12" cy="12" r="12" />
      </svg>
    </div>
  }
</ng-template>
