:host {
  display: flex;
  justify-content: space-between;
}

:host(::before) {
  background-color: var(--aotw-color-grey-200);
  content: '';
  inset: 0;
  opacity: 0.75;
  position: absolute;
  transition: background-color 300ms ease-in-out;
  z-index: -1;
}

:host([class='create']::before) {
  background-color: transparent;
  transition: none;
}

:host([class='create']) {
  button {
    aotw-icon {
      color: var(--aotw-color-white);
      transition: color 150ms ease-in-out;
    }
  }
}

.title {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--aotw-space-s);
  max-width: 100%;
  min-width: 15rem;
  padding-inline: var(--aotw-space-s);
}
