<section [ngClass]="{ grid: gridLayout }">
  @for (topic of filteredTopics; track $index) {
    <figure class="topic" [routerLink]="'../' + (topic.altId?.startsWith(topicId()) ? topic.altId : topic.id)">
      <app-image
        [src]="topic.imageUrl || (topic.id | image: 'assets/mock/images/' + archiveId: topic.rangeSuffix)"
        [alt]="topic.name"
        [placeholder]="!topic.imageUrl && !topic.image"
      />
      @defer {
        <figcaption class="caption">
          <span class="name">{{ 'REGIONS.' + setTopicLabel(topic.id) | uppercase | translate }}</span>
          @if (topic.parent) {
            <span class="parent">({{ setParentLabel(topic.parent) }})</span>
          }
        </figcaption>
      }
    </figure>
  }
</section>
