section {
  display: grid;
  gap: var(--aotw-space-xl) var(--aotw-space-lg);
  grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));

  &.grid {
    grid-template-columns: repeat(auto-fill, minmax(min(9.25rem, 100%), 1fr));
  }
}
