<ng-container [formGroup]="form">
  <input
    aotw-radio-button
    type="radio"
    [formControlName]="createFormControlsEnum.Layout"
    [id]="archiveLayoutEnum.Main"
    [name]="createFormControlsEnum.Layout"
    [value]="archiveLayoutEnum.Main"
  />
  <label [for]="archiveLayoutEnum.Main">
    {{ 'CREATE.LAYOUTS.' + archiveLayoutEnum.Main | translate }}
  </label>
  <input
    aotw-radio-button
    type="radio"
    [formControlName]="createFormControlsEnum.Layout"
    [id]="archiveLayoutEnum.MainWithoutImages"
    [name]="createFormControlsEnum.Layout"
    [value]="archiveLayoutEnum.MainWithoutImages"
  />
  <label [for]="archiveLayoutEnum.MainWithoutImages">
    {{ 'CREATE.LAYOUTS.' + archiveLayoutEnum.MainWithoutImages | translate }}
  </label>
</ng-container>
