<div class="title" tabindex="0" (click)="goToHome()" (keydown)="goToHome()">
  <aotw-lib-icon name="logo" size="medium"></aotw-lib-icon>
  <aotw-lib-dynamic-text>{{ 'COMMON.APP_NAME' | translate }}</aotw-lib-dynamic-text>
</div>
<!-- ! Replace below with menu containing "Translation" item -->
<div class="menu">
  <button type="button" ghost (click)="goToLogin()" (keydown)="goToLogin()">
    {{ 'COMMON.LOG_IN' | translate }}
  </button>
  <button type="button" ghost (click)="setTranslation()">
    <aotw-lib-icon name="language" size="medium"></aotw-lib-icon>
  </button>
</div>
