<div class="title" tabindex="0" (click)="goToHome()" (keydown)="goToHome()">
  <aotw-ng-icon name="logo" size="medium" />
  <aotw-ng-dynamic-text>
    {{ 'COMMON.APP_NAME' | translate }}
  </aotw-ng-dynamic-text>
</div>
<div class="menu-list">
  <button
    type="button"
    ghost
    [aotwDropdownTrigger]="translationMenu"
    [isOpen]="menuOpen === headerMenuEnum.Translation"
    (click)="setMenuOpen(headerMenuEnum.Translation)"
  >
    <aotw-ng-icon name="language" size="medium" />
  </button>
  <button
    type="button"
    ghost
    [aotwDropdownTrigger]="mainMenu"
    [isOpen]="menuOpen === headerMenuEnum.Main"
    (click)="setMenuOpen(headerMenuEnum.Main)"
  >
    <aotw-ng-icon name="menu" size="medium" />
  </button>
</div>

<ng-template #translationMenu>
  <div class="menu">
    <aotw-ng-list-item (click)="setTranslation()">
      {{ 'LANGUAGES.' + (currentLang === 'nl' ? 'EN' : 'NL') | translate }}
    </aotw-ng-list-item>
  </div>
</ng-template>

<ng-template #mainMenu>
  <div class="menu">
    <div class="message">
      {{ menuMessage | translate}}
    </div>
    <aotw-ng-list-item>
      {{ 'PAGES.ABOUT' | translate }}
    </aotw-ng-list-item>
    @if (currentUser()) {
      <aotw-ng-list-item role="button" (click)="goToMyFavorites()">
        {{ 'PAGES.MY_FAVORITES' | translate }}
      </aotw-ng-list-item>
      <aotw-ng-list-item role="button" (click)="logOut()">
        {{ 'COMMON.LOGOUT' | translate }}
      </aotw-ng-list-item>
    } @else {
      <aotw-ng-list-item role="button" (click)="goToLogin()">
        {{ 'PAGES.LOGIN' | translate }}
      </aotw-ng-list-item>
      <aotw-ng-list-item role="button" (click)="signUp()">
        {{ 'PAGES.SIGNUP' | translate }}
      </aotw-ng-list-item>
    }
  </div>
</ng-template>
