:host {
  background-color: var(--aotw-color-grey-200);
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--aotw-space-s);
  max-width: 100%;
  min-width: 18rem;
  padding-inline: var(--aotw-space-s);
}

.menu-list {
  display: flex;
  gap: var(--aotw-space-s);
}

.menu {
  display: grid;
  margin-right: var(--aotw-space-s);
  min-width: 10rem;

  aotw-ng-list-item {
    cursor: pointer;
  }
}
