:host {
  background-color: var(--aotw-color-grey-200);
  display: flex;
  justify-content: space-between;
}

.title {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: var(--aotw-space-sm);
  max-width: 100%;
  min-width: 18rem;
  padding-inline: var(--aotw-space-sm);
}

.menu-list {
  display: flex;
  gap: var(--aotw-space-sm);
}

.menu {
  display: grid;
  margin-right: var(--aotw-space-sm);
  width: 12rem;
  max-width: 100%;

  .message {
    align-items: center;
    display: grid;
    background-color: var(--aotw-color-white);
    box-sizing: border-box;
    color: var(--aotw-color-grey-500);
    min-height: var(--aotw-size-lg);
    padding: var(--aotw-space-sm);
  }

  aotw-ng-list-item {
    cursor: pointer;
  }
}
