<div class="filters">
  <button
    aotw-button
    type="button"
    [attr.ghost]="!showSearch || null"
    (click)="toggleSearch()"
  >
    <span>{{ 'COMMON.SEARCH' | translate }}</span>
    <aotw-lib-icon name="search" size="medium"></aotw-lib-icon>
  </button>
  <button aotw-button type="button" ghost>
    <span>{{ 'COMMON.SORT' | translate }}</span>
    <aotw-lib-icon name="sort" size="medium"></aotw-lib-icon>
  </button>
  <button aotw-button type="button" ghost>
    <span>{{ 'COMMON.FILTERS' | translate }}</span>
    <aotw-lib-icon name="filter" size="medium"></aotw-lib-icon>
  </button>
  <aotw-lib-chip-group [chips]="filterChips"></aotw-lib-chip-group>
</div>
<aotw-lib-field *ngIf="showSearch">
  <input aotw-input placeholder="Search" />
</aotw-lib-field>
