<div class="title" tabindex="0" (click)="goToHome()" (keydown)="goToHome()">
  <img class="logo" src="assets/images/logo.svg" alt="Flag Archive logo" />
  {{ 'COMMON.APP_NAME' | translate }}
</div>
<div class="menu-list">
  <button
    flagButton
    type="button"
    [attr.ghost]="menuOpen !== headerMenuEnum.Translation || undefined"
    [flagDropdownTrigger]="translationMenu"
    [isOpen]="menuOpen === headerMenuEnum.Translation"
    (isOpenChange)="setMenuOpen(headerMenuEnum.Translation, !$event)"
    (click)="setMenuOpen(headerMenuEnum.Translation)"
  >
    <flag-icon>translate</flag-icon>
  </button>
  <button
    flagButton
    type="button"
    [attr.ghost]="menuOpen !== headerMenuEnum.Main || undefined"
    [flagDropdownTrigger]="mainMenu"
    [isOpen]="menuOpen === headerMenuEnum.Main"
    (isOpenChange)="setMenuOpen(headerMenuEnum.Main, !$event)"
    (click)="setMenuOpen(headerMenuEnum.Main)"
  >
    <flag-icon>
      @if (menuOpen === headerMenuEnum.Main) {
        close
      } @else {
        menu
      }
    </flag-icon>
  </button>
</div>

<ng-template #translationMenu>
  <flag-card>
    <flag-list-item (click)="setTranslation()">
      {{ 'LANGUAGES.' + (currentLang === 'nl' ? 'EN' : 'NL') | translate }}
    </flag-list-item>
  </flag-card>
</ng-template>

<ng-template #mainMenu>
  <flag-card>
    <flag-list-item>
      {{ 'PAGES.ABOUT' | translate }}
    </flag-list-item>
    @if (currentUser()) {
      <flag-list-item role="button" (click)="goToPage('my-account')">
        {{ 'PAGES.MY_ACCOUNT' | translate }}
      </flag-list-item>
      <flag-list-item role="button" (click)="goToPage('my-favorites')">
        {{ 'PAGES.MY_FAVORITES' | translate }}
      </flag-list-item>
      <flag-list-item role="button" (click)="logOut()">
        {{ 'COMMON.LOGOUT' | translate }}
      </flag-list-item>
    } @else {
      <flag-list-item role="button" (click)="goToPage('login')">
        {{ 'PAGES.LOGIN' | translate }}
      </flag-list-item>
      <flag-list-item role="button" (click)="goToPage('signup')">
        {{ 'PAGES.SIGNUP' | translate }}
      </flag-list-item>
    }
  </flag-card>
</ng-template>
