<ng-container *ngIf="showHeader; else backButton">
  <aotw-lib-tab-group [activeTab]="activeTab" [tabs]="tabs" (selectedTab)="goToPage($event.name)">
  </aotw-lib-tab-group>
  <!-- TODO Add edit page -->
  <!-- <button type="button" ghost (click)="goToPage('edit')">
    <span>{{ 'ARCHIVE.EDIT_ARCHIVE' | translate }}</span>
    <aotw-lib-icon name="edit" size="medium"></aotw-lib-icon>
  </button> -->
</ng-container>
<div class="main">
  <router-outlet></router-outlet>
</div>

<ng-template #backButton>
  <button type="button">
    {{ 'COMMON.CTA.CONFIRM' | translate }}
  </button>
  <button type="button" ghost (click)="goToPreviousPage()">
    {{ 'COMMON.CTA.CANCEL' | translate }}
  </button>
</ng-template>
