<ng-container *ngIf="showHeader; else backButton">
  <aotw-lib-tab-group [activeTab]="activeTab" [tabs]="tabs" (selectedTab)="goToPage($event.name)">
  </aotw-lib-tab-group>
  <button type="button" class="button-edit" ghost (click)="goToPage('edit')">
    <span>Edit archive</span>
    <aotw-lib-icon name="edit" size="medium"></aotw-lib-icon>
  </button>
</ng-container>
<div class="main">
  <router-outlet></router-outlet>
</div>

<ng-template #backButton>
  <button type="button" class="button-back" ghost (click)="goToPreviousPage()">
    Cancel
  </button>
</ng-template>
