<aotw-lib-chip size="medium" [disabled]="yearRange[0] === selectedYear" (click)="previous()">
  <aotw-lib-icon name="chevron-left" size="medium"></aotw-lib-icon>
</aotw-lib-chip>
<div
  #year
  class="year"
  [aotwDropdownTrigger]="dropdown"
  [isOpen]="dropdownIsOpen"
  (click)="setDropdownState()"
>
  <aotw-lib-chip size="medium">
    {{ selectedYear }}
  </aotw-lib-chip>
</div>
<aotw-lib-chip size="medium" [disabled]="yearRange[1] === selectedYear" (click)="next()">
  <aotw-lib-icon name="chevron-right" size="medium"></aotw-lib-icon>
</aotw-lib-chip>

<ng-template #dropdown>
  <aotw-lib-year-picker
    [min]="yearRange[0]"
    [max]="yearRange[1]"
    [(selected)]="selectedYear"
    (selectedChange)="closeDropdown()"
  ></aotw-lib-year-picker>
</ng-template>
