@let MAX_SELECTED_YEAR = max() === selectedYear;
@let MIN_SELECTED_YEAR = min() === selectedYear;

<button flagButton [disabled]="MIN_SELECTED_YEAR" (click)="previous()">
  <flag-icon>keyboard_arrow_left</flag-icon>
</button>
<div
  #year
  class="year"
  role="none"
  [flagDropdownTrigger]="dropdown"
  [isOpen]="dropdownIsOpen"
  (click)="setDropdownState()"
  (keyup)="setDropdownState()"
>
  <button flagButton>
    {{ selectedYear }}
  </button>
</div>
<button flagButton [disabled]="MAX_SELECTED_YEAR" (click)="next()">
  <flag-icon>keyboard_arrow_right</flag-icon>
</button>

<div class="play">
  <p>{{ 'COMMON.PLAY' | translate }}</p>
  @if (!isPlayingBackward) {
    <button flagButton [disabled]="MIN_SELECTED_YEAR || isPlayingForward" (click)="play(true)">
      <flag-icon>fast_rewind</flag-icon>
    </button>
  } @else {
    <button flagButton [disabled]="MIN_SELECTED_YEAR" (click)="stop()">
      <flag-icon>pause</flag-icon>
    </button>
  }
  @if (!isPlayingForward) {
    <button flagButton [disabled]="MAX_SELECTED_YEAR || isPlayingBackward" (click)="play()">
      <flag-icon>fast_forward</flag-icon>
    </button>
  } @else {
    <button flagButton [disabled]="MAX_SELECTED_YEAR" (click)="stop()">
      <flag-icon>pause</flag-icon>
    </button>
  }
</div>

<ng-template #dropdown>
  <flag-year-picker
    [min]="min()"
    [max]="max()"
    [selected]="selectedYear"
    (selectedChange)="setSelectedYear($event)"
  />
</ng-template>
