.header {
  background-color: var(--aotw-color-grey-200);
  border-bottom: 2px solid var(--aotw-color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  overflow: hidden;
  padding: var(--aotw-space-m) var(--aotw-space-s);
  position: sticky;
  top: var(--aotw-size-m);
  transition: height 150ms ease-in-out;
  z-index: 1;

  &.main-topic {
    height: 11rem;
  }

  .actions {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 30rem) {
      width: 100%;
    }

    app-advanced-search {
      max-width: 27rem;
    }
  }
}

.content {
  display: grid;
  gap: var(--aotw-space-s);
  padding: var(--aotw-space-m) var(--aotw-space-s);
}
