.header {
  background-color: var(--flag-color-grey-200);
  border-bottom: 2px solid var(--flag-color-white);
  display: flex;
  flex-direction: column;
  gap: var(--flag-space-lg);
  justify-content: space-between;
  overflow: hidden;
  padding: var(--flag-space-md) var(--flag-space-sm);
  position: sticky;
  top: var(--flag-size-xl);
  z-index: 1;

  .actions {
    box-sizing: border-box;
    display: flex;
    gap: var(--flag-space-lg);
    justify-content: space-between;
    width: 100%;

    .timeline {
      align-items: center;
      display: flex;
      gap: var(--flag-space-lg);

      p {
        display: none;

        @media screen and (min-width: 40rem) {
          display: block;
        }
      }
    }

    app-advanced-search {
      max-width: 27rem;
    }
  }

  @media only screen and (min-width: 40rem) {
    padding-inline: var(--flag-space-lg);
  }
}

.content {
  display: grid;
  gap: var(--flag-space-sm);
  padding: var(--flag-space-md) var(--flag-space-sm);

  @media only screen and (min-width: 40rem) {
    padding-inline: var(--flag-space-lg);
  }
}
