@if (archiveData) {
  <section class="header" [ngClass]="{ 'main-topic': !activeTopic }">
    @if (activeTopic) {
      <app-topic-header [breadcrumb]="topicsBreadcrumb" [topic]="activeTopic" />
    } @else {
      <app-discover-header
        [activeTopicId]="activeMainTopicId"
        [topics]="mainTopics"
        (activeTopic)="setActiveTopic($event)"
      />
    }
    <div class="actions">
      <div class="timeline">
        <p>{{ 'COMMON.TIMELINE' | translate }}</p>
        <app-datetime-navigator [min]="minYear" [max]="maxYear" />
      </div>
      <app-advanced-search
        [(filters)]="filters"
        [(sorting)]="sorting"
        [(sortDirection)]="sortDirection"
      />
    </div>
  </section>
}
<section class="content">
  <router-outlet />
</section>
