:host {
  display: grid;
  gap: var(--flag-space-lg);
  grid-template-columns: 24rem;
  height: 100vh;
  place-content: center;
  width: 100%;
}

form {
  display: grid;
  gap: var(--flag-space-lg);
}
