<form [formGroup]="form" (ngSubmit)="signUp()">
  <app-form-field-input
    translationKey="USERNAME"
    [control]="getControl('username')"
    [required]="true"
  />
  <app-form-field-input
    translationKey="NAME"
    [control]="getControl('name')"
    [required]="true"
  />
  <app-form-field-input
    translationKey="SURNAME"
    [control]="getControl('surname')"
    [required]="true"
  />
  <app-form-field-input
    type="email"
    translationKey="EMAIL_ADDRESS"
    [control]="getControl('email')"
    [required]="true"
  />
  <app-form-field-input
    type="password"
    translationKey="PASSWORD"
    [control]="getControl('password')"
    [required]="true"
  />
  <button flagButton raised type="submit" [disabled]="form.invalid || form.pristine">
    {{ 'COMMON.SIGNUP' | translate }}
  </button>
</form>
<button flagButton ghost (click)="goToLogIn()">
  {{ 'SIGNUP.HAS_ACCOUNT' | translate }}
</button>
@if (errorMessage(); as errorMessage) {
  {{ 'MESSAGES' | translationKey: errorMessage | translate }}
}
