:host {
  align-items: center;
  display: grid;
  gap: var(--aotw-space-l);
  grid-template-columns: 1fr auto;
  padding: var(--aotw-space-l);
}

header {
  align-items: center;
  display: grid;
  height: var(--aotw-size-l);
}

section {
  display: grid;
  gap: var(--aotw-space-xl);
  grid-column: 1 / -1;

  .filters {
    align-items: center;
    display: flex;
    gap: var(--aotw-space-xl);
    justify-content: flex-end;
  }

  .archives {
    display: grid;
    gap: var(--aotw-space-l);
    grid-template-columns: repeat(auto-fill, minmax(min(18.5rem, 100%), 1fr));

    .card {
      cursor: pointer;

      &-header {
        display: grid;
        font-family: var(--aotw-font-family-primary);
        font-size: var(--aotw-font-size-m);
        font-weight: var(--aotw-font-weight-regular);
        gap: var(--aotw-space-xs);
        line-height: var(--aotw-font-line-height-s);

        img {
          width: 100%;
        }
      }
    }
  }
}

button {
  @media only screen and (max-width: 30rem) {
    span {
      display: none;
    }
  }
}
