<header>
  <h2>{{ 'COMMON.ARCHIVES' | translate }}</h2>
</header>
<button type="button" ghost (click)="goToCreate()">
  <span>{{ 'HOME.NEW_ARCHIVE' | translate }}</span>
  <aotw-lib-icon name="add" size="medium"></aotw-lib-icon>
</button>
<section>
  <app-filters-and-sorting (activeLayout)="setLayout($event)"></app-filters-and-sorting>
  <div class="archives" [ngClass]="{ 'list': !gridLayout }">
    <div
      *ngFor="let archive of archives"
      class="card"
      tabindex="0"
      (click)="goToArchive(archive.id)"
      (keydown)="goToArchive(archive.id)"
    >
      <div class="card-header">
        <img [src]="archive.image.src" [alt]="archive.image.alt">
        {{ archive.name }}
      </div>
    </div>
  </div>
</section>
