<header>
  <h2>Archives</h2>
</header>
<button type="button" ghost (click)="goToCreate()">
  New archive
  <aotw-icon name="add" size="medium"></aotw-icon>
</button>
<section>
  <div class="filters">
    <button ghost>
      Search
      <aotw-icon name="search" size="medium"></aotw-icon>
    </button>
    <button ghost>
      Sort
      <aotw-icon name="sort" size="medium"></aotw-icon>
    </button>
    <button ghost>
      Filters
      <aotw-icon name="filter" size="medium"></aotw-icon>
    </button>
    <aotw-chip-group>
      <aotw-chip size="medium" active><aotw-icon name="grid" size="extra-large"></aotw-icon></aotw-chip>
      <aotw-chip size="medium"><aotw-icon name="list" size="extra-large"></aotw-icon></aotw-chip>
    </aotw-chip-group>
  </div>
  <div class="archives">
    <div *ngFor="let archive of archives" class="card" (click)="goToArchive(archive.id)">
      <div class="card-header">
        <img [src]="archive.image.src" [alt]="archive.image.alt">
        {{ archive.name }}
      </div>
    </div>
  </div>
</section>
