<header>
  <h2>{{ 'CREATE.TITLE' | translate }}</h2>
</header>

<aotw-lib-stepper [(activeStep)]="activeStep" [steps]="steps"></aotw-lib-stepper>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="subforms">
    <app-general-info
      *ngIf="activeStep === 0"
      [formGroupName]="generalInfo"
      (validated)="validateGeneralInfo($event)"
    ></app-general-info>
    <app-layout *ngIf="activeStep === 1" [formGroupName]="layout"></app-layout>
  </div>
  <div class="actions">
    <button type="button" aotw-button ghost secondary (click)="cancel()">
      {{ 'COMMON.CTA.CANCEL' | translate }}
    </button>
    <button
      *ngIf="activeStep < steps.length - 1; else createButton"
      type="button"
      aotw-button
      secondary
      [disabled]="!isGeneralInfoValidated"
      (click)="goToNextStep()"
    >
      {{ 'COMMON.CTA.NEXT' | translate }}
    </button>
  </div>
</form>

<ng-template #createButton>
  <button type="submit" aotw-button secondary [disabled]="!form.valid">
    {{ 'COMMON.CTA.CREATE' | translate }}
  </button>
</ng-template>
