:host {
  display: grid;
  font-weight: var(--flag-font-weight-regular);
  gap: var(--flag-space-xs);
  grid-template-columns: 1fr 7.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--flag-space-sm);

  h2 {
    font-size: var(--flag-font-size-sm);
    line-height: var(--flag-font-line-height-s);
    text-transform: uppercase;
  }

  .topic-name {
    align-items: center;
    display: flex;
    gap: var(--flag-space-sm);

    h3 {
      font-size: var(--flag-font-size-md);
      line-height: var(--flag-font-line-height-s);
    }
  }
}
