<section class="content">
  <div>
    <flag-breadcrumb [items]="breadcrumb()" (selectedItem)="goToPage($event)" />
    @if (isExpanded || !isMobile) {
      <h2>{{ rangedTopic().name }}</h2>
      <h3>{{ 'TOPICS' | translationKey: rangedTopic().type | translate }}</h3>
    }
  </div>
  <button flagButton ghost type="button" (click)="toggleState()">
    <flag-icon>
      @if (isExpanded) {
        keyboard_arrow_up
      } @else {
        keyboard_arrow_down
      }
    </flag-icon>
  </button>
</section>
<div class="actions">
  <button flagButton raised rounded disabled>
    <flag-icon>info_i</flag-icon>
  </button>
  @if (isLoggedIn()) {
    <app-favorite-button [id]="rangedTopic().id" />
  }
</div>
<app-image
  [src]="rangedTopic().imageUrl || (rangedTopic().id | image: 'assets/mock/images/': rangedTopic().rangeSuffix)"
  [alt]="rangedTopic().name"
  [placeholder]="!rangedTopic().imageUrl && !rangedTopic().image"
/>
