<app-page-header [title]="'PAGES.ABOUT' | translate" />
<section>
  <p>
    Welcome to Flag Archive, a tapestry of all flags from around the globe!
  </p>
  <p>
    The goal of this project is to showcase every flag in the world, offering a unique and interactive
    experience for all who are passionate about flags, geopolitics, and symbols.
  </p>
  <h3>The Background</h3>
  <p>
    Flag Archive was founded by Jurrit van der Ploeg, a dedicated developer and enthusiastic amateur
    vexillologist. Jurrit his approach was to create a platform where people could delve into the
    huge landscape of flags, understanding their historical contexts and geographical significance.
    What began as a personal passion project is gradually growing into a dynamic and expansive
    digital archive.
  </p>
  <h3>The Approach</h3>
  <p>
    Flag Archive offers a multi-layered exploration of flags:
  </p>
  <dl>
    <dt>Geographical Navigation</dt>
    <dd>
      Explore flags by country, region, and continent. See how flags represent diverse cultures and
      national identities around the world.
    </dd>
    <dt>Historical Navigation</dt>
    <dd>
      Travel through time to see how flags have evolved. Witness the changing landscape of flags as
      nations rise, fall, and transform.
    </dd>
    <dt>Interactive Experience</dt>
    <dd>
      The platform allows you to navigate through different eras and locations seamlessly, providing
      an engaging way to learn about the symbolism and history behind each flag.
    </dd>
  </dl>
  <h3>The Features</h3>
  <dl>
    <dt>Account Creation</dt>
    <dd>
      Sign up to create an account and keep track of your favorite flags. There are functionalities
      to come in the future.
    </dd>
	  <dt>Continuous Updates</dt>
    <dd>
      We strive to keep our database current, adding new flags and updating information as it
      becomes available.
    </dd>
  </dl>
  <h4>
    Thank you for visiting Flag Archive. Dive in and start exploring!
  </h4>
</section>
