:host {
  aspect-ratio: 3 / 2;
  display: flex;

  img {
    margin: auto 0;
    max-height: 100%;
    max-width: 100%;
  }

  &.placeholder {
    background-color: var(--aotw-color-primary-100);

    img {
      display: none;
    }
  }
}
