<div class="actions">
  <button
    flagButton
    [attr.ghost]="activeSection !== discoverSectionEnum.Continents || undefined"
    (click)="setActiveSection(discoverSectionEnum.Continents)"
  >
    {{ 'DISCOVER.CONTINENTS' | translate }}
    @if (activeSection !== discoverSectionEnum.Continents) {
      <flag-icon>swap_horiz</flag-icon>
    }
  </button>
  <button
    flagButton
    [attr.ghost]="activeSection !== discoverSectionEnum.Organizations || undefined"
    (click)="setActiveSection(discoverSectionEnum.Organizations)"
  >
    @if (activeSection !== discoverSectionEnum.Organizations) {
      <flag-icon>swap_horiz</flag-icon>
    }
    {{ 'DISCOVER.ORGANIZATIONS' | translate }}
  </button>
</div>
@if (!isMobile || (isMobile && activeSection === discoverSectionEnum.Continents)) {
  <ng-container *ngTemplateOutlet="entitiesTemplate; context: {
    $implicit: continents(),
    title: 'DISCOVER.CONTINENTS',
  }" />
}
@if (!isMobile || (isMobile && activeSection === discoverSectionEnum.Organizations)) {
  <ng-container *ngTemplateOutlet="entitiesTemplate; context: {
    $implicit: organizations(),
    title: 'DISCOVER.ORGANIZATIONS',
  }" />
}

<ng-template #entitiesTemplate let-entities let-title="title">
  <section [ngClass]="{ mobile: isMobile }">
    <h2>{{ title | translate }}</h2>
    <ul>
      @for (entity of entities; track entity.id) {
        <li>
          <a
            tabindex="0"
            [ngClass]="{ active: entity.id === activeEntityId() }"
            (click)="setActiveEntity(entity.id)"
            (keydown)="setActiveEntity(entity.id)"
          >
            {{ 'ENTITIES' | translationKey: entity.translationKey | translate }}
          </a>
        </li>
      }
    </ul>
  </section>
</ng-template>
