@let EMAIL_ADDRESS_TRANSLATION = 'COMMON.EMAIL_ADDRESS' | translate;
@let PASSWORD_TRANSLATION = 'COMMON.PASSWORD' | translate;

<form [formGroup]="form" (ngSubmit)="logIn()">
  <flag-form-field>
    <label for="email-address">{{ EMAIL_ADDRESS_TRANSLATION }}</label>
    <input flagInput type="email" name="email-address" [placeholder]="EMAIL_ADDRESS_TRANSLATION" formControlName="email" />
  </flag-form-field>
  <flag-form-field>
    <label for="password">{{ PASSWORD_TRANSLATION }}</label>
    <input flagInput type="password" name="password" [placeholder]="PASSWORD_TRANSLATION" formControlName="password" />
  </flag-form-field>
  <button flagButton raised type="submit" [disabled]="form.invalid || form.pristine">
    {{ 'COMMON.LOGIN' | translate }}
  </button>
</form>
<button flagButton ghost (click)="goToSignUp()">
  {{ 'COMMON.SIGNUP' | translate }}
</button>
@if (errorMessage(); as errorMessage) {
  {{ 'MESSAGES' | translationKey: errorMessage | translate }}
}
