:host {
  display: block;
  height: calc(100% - var(--aotw-height-m));
  margin-top: var(--aotw-height-m);
}

app-header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  min-height: calc(100% - var(--aotw-height-xl) * 3);
  z-index: 1;
}