<app-page-header title="PAGES.MY_ACCOUNT" />
<section>
  <div class="info">
    @if (user(); as user) {
      <flag-form-field>
         <label for="username">{{ 'COMMON.USERNAME' | translate }}</label>
        <input flagInput type="text" name="username" disabled [value]="user.username" />
      </flag-form-field>
      <flag-form-field>
         <label for="full-name">{{ 'COMMON.FULL_NAME' | translate }}</label>
        <input
          flagInput
          type="text"
          name="full-name"
          disabled
          [value]="setFullName(user.name, user.surname)"
        />
      </flag-form-field>
      <flag-form-field>
         <label for="email-address">{{ 'COMMON.EMAIL_ADDRESS' | translate }}</label>
        <input flagInput type="text" name="email-address" disabled [value]="user.email" />
      </flag-form-field>
    }
  </div>
  <div class="actions">
    <button flagButton disabled raised>{{ 'MY_ACCOUNT.EDIT_ACCOUNT' | translate }}</button>
    <button flagButton disabled ghost>{{ 'MY_ACCOUNT.CHANGE_PASSWORD' | translate }}</button>
  </div>
</section>
