<header>
  <h2>{{ 'COMMON.ARCHIVES' | translate }}</h2>
</header>
<section>
  <app-advanced-search />
  <div class="archives" [ngClass]="{ 'list': !gridLayout }">
    @for (archive of archives; track archive.id) {
      <div
        class="card"
        tabindex="0"
        (click)="goToArchive(archive.id)"
        (keydown)="goToArchive(archive.id)"
      >
        <div class="card-header">
          <img [src]="archive.image.src" [alt]="archive.image.alt" />
          {{ archive.name }}
        </div>
      </div>
    }
  </div>
</section>
