:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

div {
  align-items: center;
  aspect-ratio: 3 / 2;
  background-color: var(--flag-color-primary-100);
  display: flex;
  font-size: var(--flag-font-size-lg);
  justify-content: center;
  width: 10rem;
}

p {
  margin-block: var(--flag-space-xs);
  width: 10rem;
}
