<section *ngIf="archiveData" class="header" [ngClass]="{ 'main-topic': !activeTopic }">
  <app-discover-header
    *ngIf="activeTopic; else mainTopicsHeader"
    [breadcrumb]="topicsBreadcrumb"
    [topic]="activeTopic"
  ></app-discover-header>
</section>
<section class="content">
  <router-outlet></router-outlet>
</section>

<ng-template #mainTopicsHeader>
  <h2>{{ mainTopicType }}</h2>
  <ul>
    <li *ngFor="let topic of mainTopics">
      <a
        tabindex="0"
        [ngClass]="{ active: topic.id === activeMainTopicId }"
        (click)="setActiveTopic(topic.id)"
        (keydown)="setActiveTopic(topic.id)"
      >
        {{ topic.name }}
      </a>
    </li>
  </ul>
</ng-template>
