:host {
  align-items: center;
  display: grid;
  gap: var(--aotw-space-l);
  height: 2.5rem;
}

.filters {
  align-items: center;
  display: flex;
  gap: var(--aotw-space-xl);
  justify-content: flex-end;

  &.stretch {
    justify-content: space-between;
  }

  .filter-group {
    display: flex;
    gap: var(--aotw-space-m);
    
    .mobile {
      display: none;
    }
  
    @media only screen and (max-width: 30rem) {
      button {
        display: none;
    
        &.mobile {
          display: block;
        }
      }
    }
  }
}

.active-filter {
  display: grid;
  gap: var(--aotw-space-s);
  grid-template-columns: auto 1fr;

  .filters {
    align-items: center;
    display: flex;
    font-weight: var(--aotw-font-weight-light);
    gap: var(--aotw-space-s);
    justify-content: flex-start;
  }
}
