@if (showAllOptions) {
  <div class="filters">
    <button type="button" ghost class="mobile">
      <aotw-ng-icon name="filter-list" size="medium" />
    </button>
      <button type="button" ghost (click)="openOption(advancedSearchEnum.Search)">
      <span>{{ 'COMMON.SEARCH' | translate }}</span>
      <aotw-ng-icon name="search" size="medium" />
    </button>
    <button type="button" ghost (click)="openOption(advancedSearchEnum.Sort)">
      <span>{{ 'COMMON.SORT' | translate }}</span>
      <aotw-ng-icon name="sort" size="medium" />
    </button>
    <button type="button" ghost (click)="openOption(advancedSearchEnum.Filters)">
      <span>{{ 'COMMON.FILTERS' | translate }}</span>
      <aotw-ng-icon name="filter" size="medium" />
    </button>
    <aotw-ng-chip-group [chips]="layoutChips" (activeChip)="setLayout($event)" />
  </div>
} @else {
  <div class="active-filter">
    <button ghost (click)="closeOption()">
      <aotw-ng-icon name="chevron-up" size="medium" />
    </button>
    @switch (activeOption) {
      @case (advancedSearchEnum.Search) {
        <aotw-ng-form-field class="search">
          <input [placeholder]="'COMMON.SEARCH' | translate" />
        </aotw-ng-form-field>
      }
      @case (advancedSearchEnum.Filters) {
        <div class="filters">
          {{ 'FILTERS_AND_SORTING.FILTER_BY' | translate }}
          @for(filter of filters; track filter.label) {
            <button [attr.ghost]="!filter.active || null" (click)="toggleFilter(filter.label)">
              {{ filter.label }}
            </button>
          }
        </div>
      }
      @case (advancedSearchEnum.Sort) {
        <app-sorting [(direction)]="sortDirection" [(options)]="sorting" />
      }
    }
  </div>
}
