:host {
  align-items: center;
  display: grid;
  gap: var(--flag-space-lg);
  height: 2.5rem;
}

.filters {
  align-items: center;
  display: flex;
  gap: var(--flag-space-lg);
  justify-content: flex-end;

  p {
    display: none;

    @media screen and (min-width: 40rem) {
      display: block;
    }
  }

  &.stretch {
    justify-content: space-between;
  }

  .filter-group {
    display: flex;
    gap: var(--flag-space-md);
  }

  .layout-actions {
    background-color: var(--flag-color-white);
    border-radius: var(--flag-radius-sm);
    display: flex;

    button {
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.active-filter {
  display: grid;
  gap: var(--flag-space-sm);
  grid-template-columns: auto 1fr;

  .filters {
    align-items: center;
    display: flex;
    font-weight: var(--flag-font-weight-light);
    gap: var(--flag-space-sm);
    justify-content: flex-start;
  }
}
