@if (showAllOptions) {
  <div class="filters" [ngClass]="{ stretch }">
    <p>{{ 'FILTERS_AND_SORTING.ADVANCED_SEARCH' | translate }}</p>
    <div class="filter-group">
      <!-- Search -->
      @if (!hideSearch) {
        <button
          flagButton
          type="button"
          ghost
          [title]="'COMMON.SEARCH' | translate"
          (click)="openOption(advancedSearchEnum.Search)"
        >
          <span>{{ 'COMMON.SEARCH' | translate }}</span>
          <flag-icon name="search" />
        </button>
      }
      <!-- Filters -->
      <button flagButton type="button" [title]="'COMMON.FILTERS' | translate">
        <flag-icon name="filter" />
      </button>
    </div>
    <!-- Layout -->
    <div class="layout-actions">
      @for (button of layoutButtons; track button.id) {
        <button flagButton [attr.raised]="button.active || undefined" (click)="setLayout(button)">
          <flag-icon [name]="button.icon || ''" />
        </button>
      }
     </div>
  </div>
} @else {
  <div class="active-filter">
    <!-- Go back -->
    <button flagButton ghost [title]="'COMMON.CTA.BACK' | translate" (click)="closeOption()">
      <flag-icon name="chevron-up" />
    </button>
    @switch (activeOption) {
      <!-- Search field -->
      @case (advancedSearchEnum.Search) {
        <flag-form-field class="search">
          <input flagInput [placeholder]="'COMMON.SEARCH' | translate" />
        </flag-form-field>
      }
      <!-- Filter options -->
      @case (advancedSearchEnum.Filters) {
        <div class="filters">
          {{ 'FILTERS_AND_SORTING.FILTER_BY' | translate }}
          @for(filter of filters(); track $index) {
            <button
              flagButton
              [attr.ghost]="!filter.active || null"
              [title]="filter.label"
              (click)="toggleFilter(filter.id)"
            >
              {{ filter.label }}
            </button>
          }
        </div>
      }
      <!-- Sort options -->
      @case (advancedSearchEnum.Sort) {
        <app-sorting [(direction)]="sortDirection" [(options)]="sorting" />
      }
    }
  </div>
}
