<header>
  <h2>{{ 'CREATE.TITLE' | translate }}</h2>
</header>

<aotw-ng-stepper [(activeStep)]="activeStep" [steps]="steps" />
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="subforms">
    @if (activeStep === 0) {
      <app-general-info [formGroupName]="generalInfo" (validated)="validateGeneralInfo($event)" />
    }
    @if (activeStep === 1) {
      <app-layout [formGroupName]="layout" />
    }
  </div>
  <div class="actions">
    <button type="button" ghost secondary (click)="cancel()">
      {{ 'COMMON.CTA.CANCEL' | translate }}
    </button>
    @if (activeStep < steps.length - 1) {
      <button
        type="button"
        secondary
        [disabled]="!isGeneralInfoValidated"
        (click)="goToNextStep()"
      >
        {{ 'COMMON.CTA.NEXT' | translate }}
      </button>
    } @else {
      <button type="submit" secondary [disabled]="!form.valid">
        {{ 'COMMON.CTA.CREATE' | translate }}
      </button>
    }
  </div>
</form>
