<ng-container [formGroup]="form">
  <aotw-lib-field>
    <label [for]="createFormControlsEnum.Name">
      {{ 'CREATE.STEPS.NAME' | translate }}
    </label>
    <input
      aotw-input
      [formControlName]="createFormControlsEnum.Name"
      [id]="createFormControlsEnum.Name"
    />
  </aotw-lib-field>
  <aotw-lib-field>
    <label [for]="createFormControlsEnum.MainCategory">
      {{ 'CREATE.STEPS.MAIN_CATEGORY' | translate }}
    </label>
    <input
      aotw-input
      [formControlName]="createFormControlsEnum.MainCategory"
      [id]="createFormControlsEnum.MainCategory"
    />
  </aotw-lib-field>
    <aotw-lib-field [formArrayName]="createFormControlsEnum.MainTopics">
      <label [for]="createFormControlsEnum.MainTopics">
        {{ 'CREATE.STEPS.MAIN_TOPICS' | translate }}
      </label>
      <div *ngFor="let topic of topics; let i = index" class="topic">
        <input
          aotw-input
          [formControlName]="i"
          [id]="i === 0 ? createFormControlsEnum.MainTopics : undefined"
        />
        <button
          *ngIf="i > 1"
          type="button"
          aotw-button
          ghost
          (click)="removeTopic(i)"
        >
          <aotw-lib-icon name="close" size="medium"></aotw-lib-icon>
        </button>
      </div>
    </aotw-lib-field>
    <button type="button" aotw-button secondary (click)="addTopic()">
      <aotw-lib-icon name="add" size="medium"></aotw-lib-icon>
      {{ 'COMMON.ADD' | translate }}
    </button>
</ng-container>
