:host {
  display: grid;
  gap: var(--aotw-space-m);
}

aotw-lib-field {
  label {
    aotw-lib-icon {
      color: var(--aotw-color-error-500);
    }
  }

  .topic {
    position: relative;
  
    input {
      width: 100%;
    }
  
    [aotw-button] {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
