<ng-container [formGroup]="form">
  <aotw-lib-field>
    <label [for]="createFormControlsEnum.Name">
      <ng-container
        *ngTemplateOutlet="statusIcon; context: { control: nameControl }"
      ></ng-container>
      {{ 'CREATE.STEPS.NAME' | translate }}
    </label>
    <input
      [formControlName]="createFormControlsEnum.Name"
      [id]="createFormControlsEnum.Name"
    />
  </aotw-lib-field>
  <aotw-lib-field>
    <label [for]="createFormControlsEnum.MainCategory">
      <ng-container
        *ngTemplateOutlet="statusIcon; context: { control: mainCategoryControl }"
      ></ng-container>
      {{ 'CREATE.STEPS.MAIN_CATEGORY' | translate }}
    </label>
    <input
      [formControlName]="createFormControlsEnum.MainCategory"
      [id]="createFormControlsEnum.MainCategory"
    />
  </aotw-lib-field>
    <aotw-lib-field [formArrayName]="createFormControlsEnum.MainTopics">
      <label [for]="createFormControlsEnum.MainTopics">
        <ng-container
          *ngTemplateOutlet="statusIcon; context: { control: mainTopicsControl }"
        ></ng-container>
        {{ 'CREATE.STEPS.MAIN_TOPICS' | translate }}
      </label>
      <div *ngFor="let topic of topics; let i = index" class="topic">
        <input
          [formControlName]="i"
          [id]="i === 0 ? createFormControlsEnum.MainTopics : undefined"
        />
        <button
          *ngIf="i > 1"
          type="button"
          ghost
          (click)="removeTopic(i)"
        >
          <aotw-lib-icon name="close" size="medium"></aotw-lib-icon>
        </button>
      </div>
    </aotw-lib-field>
    <button type="button" secondary (click)="addTopic()">
      <aotw-lib-icon name="add" size="medium"></aotw-lib-icon>
      {{ 'COMMON.ADD' | translate }}
    </button>
</ng-container>

<!-- Status icon for validation of the input fields -->
<ng-template #statusIcon let-control="control">
  <div *ngIf="control?.touched" class="status-icon">
    <aotw-lib-icon
      size="medium"
      [name]="control.valid ? 'check' : 'error'"
    ></aotw-lib-icon>
    <svg viewBox="0 0 24 24" [ngClass]="{ error: !control.valid }">
      <circle cx="12" cy="12" r="12"></circle>
    </svg>
  </div>
</ng-template>
