html,
body {
  height: 100%;
  inset: 0;
  margin: 0;
  position: absolute;
}

body {
  background-color: var(--aotw-color-grey-200);
  color: var(--aotw-color-primary-500);
  font-family: var(--aotw-font-family-primary);
  transition: background-color 150ms ease-in-out;

  &.create {
    background-color: var(--aotw-color-primary-500);
    color: var(--aotw-color-white);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--aotw-font-weight-medium);
  font-size: var(--aotw-font-size-l);
  line-height: var(--aotw-font-line-height-s);
  margin: 0;
}
