<header>
  <h2>Archives</h2>
</header>
<button type="button" ghost (click)="goToCreate()">
  New archive
  <aotw-icon name="add" size="medium"></aotw-icon>
</button>
<section>
  <div class="filters">
    <button ghost (click)="toggleSearchBar()">
      Search
      <aotw-icon name="search" size="medium"></aotw-icon>
    </button>
    <!-- TODO Add dropdown with overlay w/ multiple sorting options -->
    <button ghost (click)="setFilter('a-z')">
      Sort
      <aotw-icon name="sort" size="medium"></aotw-icon>
    </button>
    <button ghost>
      Filters
      <aotw-icon name="filter" size="medium"></aotw-icon>
    </button>
    <aotw-chip-group>
      <aotw-chip *ngFor="let view of viewFilter" size="medium" [attr.active]="view.active || undefined" (click)="setView(view.name)">
        <aotw-icon [name]="view.name" size="extra-large"></aotw-icon>
      </aotw-chip>
    </aotw-chip-group>
  </div>
  <input *ngIf="showSearchBar" aotw-input />
  <div class="archives" [ngClass]="{ 'list': activeView === 'list' }">
    <div *ngFor="let archive of filteredArchives" class="card" (click)="goToArchive(archive.reference)">
      <div class="card-header">
        <img src="https://unsplash.it/600/400" alt="Placeholder image">
        {{ archive.name }}
      </div>
    </div>
  </div>
</section>
