<ng-container [formGroup]="form">
    <input
      aotw-radio-button
      type="radio"
      formControlName="LAYOUT"
      id="main"
      name="LAYOUT"
      value="MAIN"
    />
    <label for="main">
      {{ 'CREATE.LAYOUTS.MAIN' | translate }}
    </label>
    <input
      aotw-radio-button
      type="radio"
      formControlName="LAYOUT"
      id="main-without-images"
      name="LAYOUT"
      value="MAIN_WITHOUT_IMAGES"
    />
    <label for="main-without-images">
      {{ 'CREATE.LAYOUTS.MAIN_WITHOUT_IMAGES' | translate }}
    </label>
</ng-container>
